.container{
    text-align: center;
}
.navbar-brand{
    padding-left: 10px;
}

.navbar{
    background-color: #1d3053e5;
}
.nav-item{
    font-size: 20px;
    
}
body{
    background-color:#cdcdcb7e;
    background-image: url(img/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
}

.container2{
    display: flex;
}
.cookies{
    text-align: center;
    padding: 75px;
}

.flex{
    display: flex;
    justify-content: center;
    margin: 100px;
}

.navbar-brand{
    padding-right: 10px;
}

.container3{
    width: 100%;
    padding-top: 80px;

}

.col,h4{
    padding: 0 50px 0 50px;
}
.col{
    padding: 10px;
    text-align: center;
}

.btn-primary{
    background-color: #131E39;
    border: none;
    border-radius: 50px;
}

    .container3{
        justify-content: space-between;
    }

    .card {
        float: left;
        width: 33.33%;
        margin: 70px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

    @media screen and (max-width: 600px) {
        .card {
          width: 100%;
        }
      }

      @media screen and (max-width: 900px) {
        .container3 {
          width: 100%;
        }
      }

      .row{
        justify-content: center;
      }
